.pile {
    position: relative;
    aspect-ratio: var(--card-aspect);
    border: 1px solid darkgreen;
    background-color: forestgreen;
    perspective: 10%;
}

.pile-type-tableau {
    flex-direction: column;
}

.pile-type-waste {
    flex-direction: row;
}

.card-outer {
    position: relative;
    transform: translateZ(0);
}

.pile-type-waste .card-outer:nth-last-child(1) {
    left: 0;
    transform: translateZ(3px);
}
.pile-type-waste .card-outer:nth-last-child(2) {
    left: -50%;
    transform: translateZ(2px);
}
.pile-type-waste .card-outer:nth-last-child(3) {
    left: -100%;
    transform: translateZ(1px);
}

.pile-type-waste .card-outer {
    left: -100%;
    transform: translateZ(0);
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
