.pile {
    position: relative;
    aspect-ratio: var(--card-aspect);
    background-color: var(--color-background-light);
    box-shadow: 0 0 10px green inset;
    border: 1px dashed rgb(255 255 255 / 0.2);
    perspective: 10rem;
}

.pile-type-tableau {
    flex-direction: column;
}

.pile-type-waste {
    flex-direction: row;
}

.card-outer {
    position: relative;
    transform: translateZ(1px);
    --animation-duration: 0.5s;
}

/* Hide the original while dragging. */
/* TODO: fix/remove fade in on release */
.card-outer.dragging {
    transition: opacity 0.01s !important;
    opacity: 0;
}

/* Animation for the waste pile "fan-out" */
.pile-type-waste .card-outer:nth-last-child(1) {
    transition-duration: calc(var(--animation-duration) * 0.4);
    transform: rotateY(0) rotateZ(-1deg) translate3d(0, 0, 3px);
    display: inherit;
}

.pile-type-waste .card-outer:nth-last-child(2) {
    transition-duration: calc(var(--animation-duration) * 0.6);
    transform: rotateY(0) rotateZ(0) translate3d(-50%, 0, 2px);
    transform-origin: -50%;
    display: inherit;
}

.pile-type-waste .card-outer:nth-last-child(3) {
    transition-duration: calc(var(--animation-duration) * 1);
    transform: rotateY(0) rotateZ(1deg) translate3d(-100%, 0, 1px);
    transform-origin: -100%;
    display: inherit;
}

.pile-type-waste .card-outer:nth-last-child(4) {
    transition-duration: calc(var(--animation-duration) * 1);
    transform: rotateY(0) translate3d(-100%, 0, -10px);
    transform-origin: -100%;
    display: inherit;
}

.pile-type-waste .card-outer {
    transform: rotateY(0) translate3d(20%, 0, 0);
    transition: transform;
    display: none;
}
