.pile {
    position: relative;
    aspect-ratio: var(--card-aspect);
    background-color: var(--color-background-light);
    box-shadow: 0 0 10px green inset;
    perspective: 10%;
}

.pile-type-tableau {
    flex-direction: column;
}

.pile-type-waste {
    flex-direction: row;
}

.card-outer {
    position: relative;
    transform: translateZ(0);
}

.pile-type-waste .card-outer:nth-last-child(1) {
    transform: translateZ(3px) translateX(0);
}
.pile-type-waste .card-outer:nth-last-child(2) {
    transform: translateZ(2px) translateX(-50%);
}
.pile-type-waste .card-outer:nth-last-child(3) {
    transform: translateZ(1px) translateX(-100%);
}

.pile-type-waste .card-outer {
    transform: translateZ(0) translateX(-100%);
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
