.card-container {
    transform: translateY(1px);
    box-sizing: border-box;
    height: 0;
}

.fan-direction-down .card-container {
    height: 2px;
}

.fan-direction-down .card-container.flipped {
    height: 2rem;
}

.card-inner {
    width: 5rem;
    height: 7rem;
    transition: transform 0.5s;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    border: 1px solid black;
}

.flipped .card-inner {
    transform: rotateY(180deg);
}

.card, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-sizing: border-box;
}

.card {
    background-color: white;
    transform: rotateY(180deg);
    padding: 0.5rem;
}

.card-back {
    background-color: gray;
    transform: rotateY(0deg);
}

.card.club, .card.spade {
    color: black;
}

.card.diamond, .card.heart {
    color: red;
}