.card-container {
    box-sizing: border-box;
    height: 0;
    user-select: none;
}

.pile-type-tableau .card-container {
    height: 2px;
}

.pile-type-tableau .card-container.flipped {
    height: 2rem;
}

.card-inner {
    aspect-ratio: var(--card-aspect);
    width: var(--card-width);
    transition: transform 0.5s;
    transform: rotateY(0);
    transform-style: preserve-3d;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    border: 1px solid lightslategray;
    border-radius: 3px;
}

.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    backface-visibility: hidden;
}

.card-front {
    background-color: white;
    padding: 0.5rem;
    transform: rotateY(180deg);
}

.card-back {
    background-image: url(images/playing-card-back.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-front.club, .card-front.spade {
    color: black;
}

.card-front.diamond, .card-front.heart {
    color: red;
}
