@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Kiwi Maru', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
    overscroll-behavior: none;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: inherit;
}

